body {
  margin: 0;
  background: #f3f2f3;
  font-size: 2vw;
  -webkit-font-smoothing: antialiased;
  // font-family: 'Lato', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}
::selection {
  background: #9c1919;
  color: rgb(255, 255, 255);
}
